* {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

div.fondo-celeste {
    height: 40vh;
    width: 40%;
    background-color: lightblue;
    margin: auto;
    border: 2px solid black;
}

div.background-fijo {
    height: 80%;
    width: 70%;
    margin: 40px 0 40px 40px;
    padding: 2%;
    border: 3px solid red;
    border-top-left-radius: 20px;
    background-color: lightgray;
    background-image: url(./cabaña.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-weight: bold;
    overflow: auto;
}